header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
  padding: 10px 20px;
}

.logo {
  height: 60px;
  width: 60px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--color-third);
  font-size: 20px;
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: var(--color-first);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block;
  background-color: var(--color-first);
  box-shadow: 5px 2px 0 var(--color-black-first);
  padding: 18px 20px;
  margin-right: 0;
}

#button:hover {
  background-color: var(--color-success);
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}
