.button {
  display: inline-block;
  background-color: var(--color-first);
  box-shadow: 5px 2px 0 var(--color-black-first);
  padding: 18px 20px;
  margin-right: 0;
  transition: transform 150ms ease-in-out;
  font-size: 20px;
  color: var(--color-third);
}

.button:hover {
  background-color: var(--color-success);
  transform: scale(1.1);
}
