.headline {
  font-family: "Press Start 2P", sans-serif;
  font-size: 40px;
  color: var(--color-second);
  text-shadow: 4px 4px 0 var(--color-black-first);
}

.headline.--second {
  color: var(--color-third);
  text-shadow: none;
  text-align: center;
}

.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 30px;
  color: var(--color-third);
  text-shadow: 4px 4px 0 var(--color-black-first);
}

.subtitle {
  font-family: "Press Start 2P", sans-serif;
  font-size: 25px;
  color: var(--color-third);
}

.body1 {
  font-family: "Fira Code", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: var(--color-third);
}
